input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
    display: block;
    width: 100%;
    max-width: 750px;
    padding: 4px 10px;
    margin: 10px 0;
    background-color: transparent;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: $text-color;
    letter-spacing: 0;
    border-radius: 0;
    border: 1px solid $gray;
    -webkit-appearance: none;

    &:focus,
    &:active {
        outline: none;
    }

    &.input-error {
        border-color: $red;
    }
}

/** Textarea Styles **/
textarea {
    max-width: 100%;
    height: auto;
    padding: 4px 10px;
}

/** Placeholder Styles **/
@mixin input-placeholder {
    color: rgba($text-color, 0.9);
}

::-webkit-input-placeholder {
    @include input-placeholder;
}

:-moz-placeholder { /* Firefox 18- */
    @include input-placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
    @include input-placeholder;
}

:-ms-input-placeholder {
    @include input-placeholder;
}
