html {
  font-size: 10px;
}

html, body {
  //overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Interface', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $text-color;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {

  -ms-word-break: break-all;
  word-break: keep-all; //non-standart css for webkit
  -ms-word-wrap: normal;
  word-wrap: normal;

  // cleaning up the ragged lines and breaks
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;

  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;

  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";

  &:last-child {
    margin: 0;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin: 1em 0;

  a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 5rem;
}

h2, .h2 {
  font-size: 3rem;
}

h3, .h3 {
  font-size: 2.4rem;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 14px;
}

img {
  display: inline-block;
  width: auto;
  height: auto;
}

.wrap {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.main {
  position: relative;

  #myCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
  }

  .content {
    position: relative;

    .logo {
      width: 100px;
      display: block;
      margin: 140px auto 0;
    }

    .headline {
      left: calc(50% - 50px);
      position: absolute;
      margin-top: 140px;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      color: #2C115D;
    }

    .purple-rect {
      position: absolute;
      top: 295px;
      width: 100%;
      height: calc(100vh - 435px);
      background-color: rgba(#2C115D, 0.9);
      background-blend-mode: multiply;

      .logos {
        padding: 35px 0;
        display: flex;
        justify-content: center;

        #ethStatsLogo {
          margin-right: 35px;
          background-color: #40FFFF;
          -webkit-mask-image: url('../img/ethStatsLogo.svg');
          mask-image: url('../img/ethStatsLogo.svg');
          width: 110px;
          height: 30px;
        }

        #ethonLogo {
          margin-left: 35px;
        }
      }
    }
    .description {
      font-size: 12px;
      color: white;
      text-align: center;

    }
  }
}


